/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

header {
  width: 100%;

  overflow: hidden;
}
/*Menu estático*/

div .container {
  font-family: 'Raleway', sans-serif;
  float: right;
  position: fixed;
  background-image: url(../assets/images/logo.png) -10px -10px; 
  width: 50px;
  height: 50px;
  /*display: inline-block;*/
  line-height: 500px;
  overflow: hidden;
}

/* Para cada a */
.container a {
  display: inline-block;
  position: relative;
  float: left;
  line-height: 100px;
  padding: 10px 20px;

}

.panel-one {
  background-image: url(../assets/images/bg-home.jpg);
  height: 515px;
  padding-top: 70px;
  color: #fff;
  display: block;
}

.wrapper {
  width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}